    </div></div></div>
    <div id="footer">
       <br><span style="float: left">Better version coming soon!</span>
        <a href="/aboutCreator" style="float: center">About the creator!</a>
        <div style="float:right">
                <p>These leads to the Developer!
              <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/mayank.nauriyal.5" class="btn-floating btn-md btn-fb mx-1"><i class="facebook f icon"> </i></a></li>
                  <li class="list-inline-item"><a target="_blank" href="https://twitter.com/mayank_nauriyal" class="btn-floating btn-md btn-tw mx-1"><i class="twitter icon"> </i></a></li>
                  <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/mayank-n-425399a4/" class="btn-floating btn-md btn-gplus mx-1"><i class="linkedin in icon"> </i></a></li>
                  <li class="list-inline-item"><a target="_blank" href="https://angel.co/mayank-nauriyal" class="btn-floating btn-md btn-li mx-1"><i class="angellist icon"> </i></a></li>
                  <li class="list-inline-item"><a target="_blank" href="https://github.com/96mickey" class="btn-floating btn-md btn-github mx-1"><i class="github icon"> </i></a></li>
              </ul></p>
          </div>
       
</div>
</div>

    <script>
        $('.ui.dropdown')
  .dropdown()
;
$('.ui.basic.modal')
  .modal('attach events', '.test.button','show')
;
$('#toggle').click(function(){
    $('.ui.sidebar').sidebar('toggle');
});
    </script>        
    </body>
</html>