<% include ./partials/header %>

    <div id="landing-header">
   <div class="container main" id="containermain">
    <div class="jumbotron" id="first">
    <h3><a href="/records">Check your recent updates and entries about the patients.</a></h3>
    <h5>This is not a fun app unless you are a pharmacist.</h5>
</div>
</div> 
</div>


<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>




<% include ./partials/footer %>